<template>
    <style>
        span {
            display: inline-block;
        }
        #hour,
        #minute {
            font-size: 42px;
            width: 60px;
        }

        #second {
            font-size: 24px;
            width: 25px;
        }

        #hour::after {
            content: ':'
        }

        #minute::after {
            content: "’";
        }

        #second::after {
            content: '“';
        }

        :host {
            word-spacing: 0;
        }
    </style>
    <span id="hour"></span><span id="minute"></span><span id="second"></span>
</template>